<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form [formGroup]="form.getForm()" (ngSubmit)="processPassowrdChange()">
        <h4 class="form-signup-heading" align="center">
          Input your new Password
        </h4>
        <!--<div *ngIf=errMsg class="alert alert-danger">
          Operation not Successful, try Again
        </div>-->
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password">
          <div *ngIf="form.hasError('password')" class="alert alert-danger">
            {{form.getError('password')}}
          </div>
        </div>
        <div class="form-group">
          <label>RE-Password</label>
          <input type="repassword" class="form-control" formControlName="repassword">
          <div *ngIf="form.hasError('repassword')" class="alert alert-danger">
            {{form.getError('repassword')}}
          </div>
        </div>
        <button type="submit" class="btn btn-sm btn-success">Submit</button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>