<div class="container-fluid mytoppad">
  <div class="staydown">
    <footer class="footer-bs">
      <div class="row">
        <div class="col-md-3 footer-brand animated fadeInLeft">
          <h2>Market Place</h2>
            <!--<p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>-->
            <p>© 2018, All rights reserved</p>
        </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
          <h4>Menu —</h4>
          <div class="col-md-6">
            <ul class="pages">
              <li><a routerLink="/login">Login</a></li>
              <li><a routerLink="/signup">Sign</a></li>
              <li><a routerLink="/aboutus">About Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 footer-social animated fadeInDown">
          <h4>Follow Us</h4>
          <ul>
            <li><i class="fa fa-facebook-f"></i><a href="#" class="mypad">Facebook</a></li>
            <li><i class="fa fa-twitter"></i><a href="#" class="mypad">Twitter</a></li>
            <li><i class="fa fa-instagram"></i><a href="#" class="mypad">Instagram</a></li>
            <li><i class="fa fa-rss"></i><a href="#" class="mypad">RSS</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-nav animated fadeInUp">
          <div class="col-md-6">
            <ul class="list">
              <li><a routerLink="/contact">Contacts</a></li>
              <li><a routerLink="/terms">Terms & Condition</a></li>
              <li><a routerLink="/privacy">Privacy Policy</a></li>
            </ul>
          </div>
          <!--<h4>Newsletter</h4>
            <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
            <p>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-envelope"></i></button>
                </span>
              </div>
            </p> -->
        </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center">
            <p>Designed by <a href="https://www.linkedin.com/in/gbolaga-famodun/" class="myname">Gbolaga A. Famodun</a></p>
          </div>
          <div class="col-md-4"></div>
        </div>
      
    </footer>
  </div>
</div>