  .card { 
      margin-bottom: 30px;
  }
  
  .card-img-top { 
    height: 120px;
  }

  .btn {
    cursor: pointer;
    margin: 0px;
    margin-bottom: 0px;
  }

  .card-footer {
    margin: 0px;
    margin-bottom: 0px;
  }