<div class="container">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title text-center mypad">Dear Employer, Welcome to the Market Place!</h4>
      <h5 class="card-subtitle mb-2 text-muted text-center mypad">Get to Choose</h5>
      <h6 class="card-text text-center mypad">We are delighted you have decided to give the students a chance to learn. <br/> And
        become proficient at their filed of study. This platform will also benefit you and your organisation as it
        <br/> can help you to identify good students who have proven themselves with your application to join your team
        <br/> in the future.
      </h6>
      <div class="text-center mypad">
        <a type="button" class="btn btn-info btn-sm pointed" (click)="registerEmployer()">Register as Employer</a>
      </div>
    </div> 
  </div>
</div>