<div class="container">
  <h3>My Projects</h3>
  <!--<p>
    <a routerLink="/member/idea/new" class="btn btn-primary">New Idea</a>
  </p>-->
  <p>
    <input 
      #query
      (keyup)="filter(query.value)"
      type="text" class="form-control" placeholder="Search...">
  </p>
  <div class="float-right">
    <a (click)="refreshProjects()">
      <i class="fa fa-refresh point" aria-hidden="true"></i>
    </a>
  </div>
  <data-table
    [items]="items"
    [itemCount]="itemCount"
    (reload)="reloadItems($event)"
  >
    <data-table-column
      [property]="'title'"
      [header]="'Title'"
      [sortable]="true"
      [resizable]="true"
    >
    </data-table-column>
    <data-table-column
      [property]="'category'"
      [header]="'Category'"
      [sortable]="true"
      [resizable]="true"
    >
    </data-table-column>
    <!--<data-table-column
      [property]="'postedBy.username'"
      [header]="'Posted By'"
      [sortable]="true"
      [resizable]="true"
    >
    </data-table-column> -->
    <data-table-column
      [property]="'status'"
      [header]="'Status'"
      [sortable]="true"
      [resizable]="true"
    >
    </data-table-column>
    <data-table-column
      [property]="'_id'"
      [resizable]="true"
    >
      <ng-template #dataTableCell let-item="item">
        <a [routerLink]="['/mem/edit-project/', item._id]">See More</a>
      </ng-template>
    </data-table-column>
    <!--<data-table-column
      [property]="'_id'"
      [header]="Delete"
      [resizable]="true"
    > 
      <ng-template #dataTableCell let-item="item">
        <a (click)="deleteProject(item)">
          <i class="fa fa-trash point" aria-hidden="true"></i>
        </a>
      </ng-template>
    </data-table-column> -->
  </data-table>
</div>