/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
 
html {
    position: relative;
    min-height: 100%;
} 

body {
    padding-top: 70px;
    font: normal 14px Lato, Tangerine, Verdana, sans-serif, Arial;
    margin-bottom: 280px;
}
.navbar { 
    border-bottom: 3px solid #e7e7e7;
    color: #fff;
    display: block;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 15px;
    white-space: nowrap;
}
.ui-growl {
    padding-top: 80px;
}
.point {
    cursor: pointer;
}